
// 게시글 전체 조회 요청
// 전체 게시글의 내용을 가져온다. 내용은 빼고 보내야 하나 고민중이다.
- URL       : '/api/articles'
- Method    : GET
- Params    : None
- Body      : None
- Response  : json
- example   : 'http://www.xpecter.shop/api/articles'


// 특정 게시글 조회 요청
// 특정 게시물의 내용과 그에 딸린 댓글들을 가져온다.
- URL       : '/api/articles/:articleId'
- Method    : GET
- Params    : mongodb objectId(전체 조회시 아이디가 같이넘어감)
- Body      : None
- Response  : json
- example   : 'http://www.xpecter.shop/api/articles/620b1d07ba557a7cb222207f'


// 게시글 작성 요청
// 글 제목, 내용, 작성자만 보내면 DB에 넣는다.
// articleCreateTime과 articleModifyTime을 현재 시각으로 넣는다.
- URL       : '/api/articles'
- Method    : POST
- Params    : None
- Body      : 
            { 
                articleTitle : String,      // 글 제목
                articleContent : String,    // 글 내용
                articleWriter : String      // 작성자 이름
            }
- Response  : 
            성공시 status 201
            { success : true }
- example   : 'http://www.xpecter.shop/api/articles
- example body :
            {
                articleTitle : "게시글 제목입니다.",
                articleContent : "게시글 내용입니다.",
                articleWriter : "xpecter"
            }


// 게시글 수정 요청
// 수정된 글 제목과 글 내용만 받으며, 지금은 articleWriter와 articleCreateTime을 바꾸게 하지 않는다.
// articleModifyTime 을 업데이트 한다.
- URL       : '/api/articles/:articleId'
- Method    : PUT
- Params    : mongodb objectId(전체 조회시 아이디가 같이넘어감)
- Body      : 
            {
                articleTitle : String,      // 글 제목
                articleContent : String     // 글 내용
            }
- Response
            성공시 status 200
            { success : true }
            실패시 status 400
            { success : false, errorMessage : "존재하지 않는 게시글입니다." }
- example   : 'http://www.xpecter.shop/api/articles/620b1d07ba557a7cb222207f'
- example body
            {
                articleTitle : "수정된 글 제목입니다.",
                articleContent : "수정된 글 내용입니다."
            }


// 게시글 삭제 요청
// 게시글 id로 삭제를 요청한다. 
- URL       : '/api/articles/:articleId'
- Method    : DELETE
- Params    : mongodb objectId(전체 조회시 아이디가 같이넘어감)
- Body      : None
- Response
            성공시 status 200
            { success : true }
            실패시 status 400
            { success : false, errorMessage : "존재하지 않는 게시글입니다." }